{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PromoFácil - Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/partials/cadastro/cadastro_produto.css' %}">
    <link rel="icon" href="{% static 'img/logo_promo-facil/icone_promo.png' %}" type="image/png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>



    <div class="container">

        
    {% if status == '0'%}
        <div class="alert alert-sucess" role="alert">
            Cadastro realizado com sucesso.
        </div>
    {% endif %}

    {% if status == '1'%}
        <div class="alert alert-danger" role="alert">
            Nome e email não podem estar vazio.
        </div>
    {% endif %}

    {% if status == '2'%}
        <div class="alert alert-danger" role="alert">
            Sua senha deve ter pelo menos 8 caracteres.
        </div>
    {% endif %}

    {% if status == '3'%}
        <div class="alert alert-danger" role="alert">
            Usuário já existe no sistema.
        </div>
    {% endif %}

    {% if status == '4'%}
        <div class="alert alert-danger" role="alert">
            Erro interno do sistema.
        </div>
    {% endif %}


        <div class="form-image">
            <img src="{% static 'img/cadastro/cadastro_produto.svg' %}" alt="">
        </div>

        <div class="form">

            <form method="POST" action="{% url 'criar_produto' %}">

                {% csrf_token %}

                <div class="form-header">
                    <div class="title">
                        <h1>CADASTRAR PRODUTO</h1>
                    </div>
                    <div class="login-button">
                        <button><a href="{% url 'home' %}">Entrar</a></button>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="nomeEmpresa">Nome</label>
                        <input name = "nome_produto" class="form-control" type="text" placeholder="Nome do Produto">
                    </div>

                    <div class="input-box">
                        <label>Preço Original</label>
                        <input name="preco_original" class="form-control" type="number" placeholder="Preço Original">                        
                    </div>
                    
                    <div class="input-box">
                        <label>Preço Promocional</label>
                        <input name="preco_promocional" class="form-control" type="number" placeholder="Preço Promocional">
                    </div>

                    <div class="input-box">
                        <label>Descrição</label>
                        <input name = "descricao"class="form-control" type="text" placeholder="Descrição">
                    </div>
{% comment %} 
                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="password" placeholder="Digite sua senha" required>
                    </div>


                    <div class="input-box">
                        <label for="confirmPassword">Confirme sua Senha</label>
                        <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Digite sua senha novamente" required>
                    </div> {% endcomment %}

                </div>

                <div class="botoes">
                    <div class="continue-button2">
                        <a href="../../index.html"><button type="button" id="cancelarButton">Cancelar</button></a>
                    </div>
                    <div class="continue-button">
                        <a href="#"><button type="submit" id="continuarButton">Continuar</button></a>
                    </div>
                </div>

                {% comment %} <input class="bnt btn-info btn-lg" type="submit" value="Enviar"> {% endcomment %}

                
            </form>
        </div>
    </div>
</body>


    <script src="{% static 'js/cadastrar_produtot.js'%}"></script>
</body>
</html>
