{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PromoFácil - Cadastro</title>
    <link rel="icon" href="{% static 'img/logo_promo-facil/icone_promo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/partials/cadastro/cadastro.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    
    {% if status == '0'%}
        <div class="alert alert-sucess" role="alert">
            Cadastro realizado com sucesso.
        </div>
    {% endif %}

    {% if status == '1'%}
        <div class="alert alert-danger" role="alert">
            Nome e email não podem estar vazio.
        </div>
    {% endif %}

    {% if status == '2'%}
        <div class="alert alert-danger" role="alert">
            Sua senha deve ter pelo menos 8 caracteres.
        </div>
    {% endif %}

    {% if status == '3'%}
        <div class="alert alert-danger" role="alert">
            Usuário já existe no sistema.
        </div>
    {% endif %}

    {% if status == '4'%}
        <div class="alert alert-danger" role="alert">
            Erro interno do sistema.
        </div>
    {% endif %}

    
    
    <div class="container">

        <div class="img">
            <img src="{% static 'img/cadastro/cadastro_user.svg' %}">
        </div>


        <div class="login-container">
            <a href="../../index.html">
                <img class="logo" src="{% static 'img/logo_promo-facil/logo_verde_promo_facil.svg' %}">
            </a>


            <form method="POST" action="{% url 'valida_cadastro' %}">

                {% csrf_token %}
                
                <h2>CADASTRO</h2>
                <p>Por favor, preencha os campos</p>
                
                <div class="input-div one ">
                    <div class="i">
                        <i class="bx bx-user"></i>
                    </div>

                    <div>
                        <h5>Nome</h5>
                        <input class="input" type="text" name="nome">
                        <input >

                    </div>
                </div>

                <div class="input-div two">
                    <div class="i">
                        <i class="bx bx-envelope"></i>
                    </div>
    
                    <div>
                        <h5>E-mail</h5>
                        <input class="input" type="email" name="email">
                    </div>

                </div>

                <div class="input-div three">
                    <div class="i">
                        <i class="bx bx-lock"></i>
                    </div>
    
                    <div>
                        <h5>Senha</h5>
                        <input class="input" type="password" name="senha">
                    </div>

                </div>

                {% comment %} <div class="input-div three">
                    <div class="i">
                        <i class="bx bxs-lock"></i>
                    </div>
    
                    <div>
                        <h5>Confirmar senha</h5>
                        <input class="input" type="password">
                    </div>

                </div> {% endcomment %}

               

                <a href="{% url 'login' %}">Já possui uma conta? Login</a>
                <form id="cadastroForm">
                    <input type="submit" class="btn2" value="Cadastrar" onclick="redirectToConfirmation(event)">
                </form>
                
            </form>
            
        </div>

    </div>
           
        

    

    <script src="{% static '/js/script.js' %}"></script>
</body>
</html>
